@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-top: 30px;
}

.video-card {
  width: 426px;
}

.img-card {
  width: 300px;
}

.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 150px;
}

.tags {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 13px;
  margin: 0;
  color: #fff;
  padding: 4px 10px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #47bcd4;
}

.delete {
  background-color: #cccccc;
}

.size {
  background-color: rgb(195, 223, 237);
  padding: 4px 10px;
  border-radius: 15px;
  padding-left: 12px;
  padding-right: 12px;
}

.p {
  font-size: 13px;
  margin-top: 3px;
  margin-bottom: 3px;
}

h3 {
  margin-bottom: 5px;
}
